<!-- www/index.html -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app='localStorageTestApp'  class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app='localStorageTestApp'  class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app='localStorageTestApp'  class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app='localStorageTestApp' class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="../styles/bootstrap.css">
    </head>
    <body ng-controller="LogController" class="container">
 
      <h1>Logs</h1>
      <form>
	<div ng-repeat="log in logs" class="checkbox">
		  <label>
		    <input type="checkbox" value="log.value" ng-model="log.value" ng-false-value="disabled" ng-true-value="enabled">
		  	{{log.name}}
		  </label>
	</div>
	<button class="btn" type="button" ng-click="save()">Save</button>
      </form>
 
        <!-- JS -->
        <script src="../scripts/jquery-1.10.2.min.js"></script>
        <script src="../scripts/angular.js"></script>
        <script type='text/javascript' src='js/localStorageUpdate.js'></script>
    </body>
</html>
