<!DOCTYPE html>
<html ng-app="genApp">
<head>
	<title>Displaying JSON Data in Angular Table</title>
	<!-- including Bootstrap CSS  -->	
        <link rel="stylesheet" href="../styles/bootstrap.css">
	<!-- including Angular js  -->	
        <script src="../scripts/angular.js"></script>
	<!-- This will move to sepatate file -->	
	<script>
		var genApp = angular.module("genApp", []);
		genApp.controller("GenCtrl", function($scope) {
		   $scope.deviceList = [
			 {
				"registeredByName": "testuser1",
				"serialNumber": "TESTTF100011",
				"model": "54e347f6730525e11c00002f",
				"organization": "54e40d05b2fc0da00b000079",
				"registrationState": "STATE_PRE_REGISTERED",
				"_id": "54e432e5d0bba1e50e000156",
				"name": "sim-group2-11",
				"createdAt": "2015-02-18T06:36:21.186Z",
				"keyStoreId": "54e40d05b2fc0da00b000079",
				"agentDeviceId": "TESTTF100011",
				"registeredOn": "2015-02-18T06:36:21.186Z",
				"uid": "TESTTF100011",
				"agentVersion": "0",
				"parentClass": "Location",
				"className": "Device",
				"id": "54e432e5d0bba1e50e000156"
		      	},
		      	{
			        "registeredByName": "testuser1",
				"serialNumber": "TESTTF100010",
				"model": "54e347f6730525e11c00002f",
				"organization": "54e40d05b2fc0da00b000079",
				"registrationState": "STATE_PRE_REGISTERED",
				"_id": "54e432e5d0bba1e50e000151",
				"name": "sim-group2-10",
				"createdAt": "2015-02-18T06:36:21.143Z",
				"keyStoreId": "54e40d05b2fc0da00b000079",
				"agentDeviceId": "TESTTF100010",
				"registeredOn": "2015-02-18T06:36:21.143Z",
				"uid": "TESTTF100010",
				"agentVersion": "0",
				"parentClass": "Location",
				"className": "Device",
				"id": "54e432e5d0bba1e50e000151"
		      	},
		      	{
				"registeredByName": "testuser1",
				"serialNumber": "TESTTF100008",
				"model": "54e347f6730525e11c00002f",
				"organization": "54e40d05b2fc0da00b000079",
				"registrationState": "STATE_PRE_REGISTERED",
				"_id": "54e432e5d0bba1e50e000147",
				"name": "sim-group1-8",
				"createdAt": "2015-02-18T06:36:21.066Z",
				"keyStoreId": "54e40d05b2fc0da00b000079",
				"agentDeviceId": "TESTTF100008",
				"registeredOn": "2015-02-18T06:36:21.066Z",
				"uid": "TESTTF100008",
				"agentVersion": "0",
				"parentClass": "Location",
				"className": "Device",
				"id": "54e432e5d0bba1e50e000147"
		    	 } 
		    ];
			//console.log($scope.deviceList);
		});
		
	</script>
</head>
<body>
      <div ng-controller="GenCtrl">
        	<table class="table">
		    <tr>
			<th ng-repeat="(key, val) in deviceList[0]">{{key}}</th>
		    </tr>
		    <tr ng-repeat="item in deviceList">
			<td ng-repeat="(key, val) in item">{{val}}</td>
		    </tr>
		</table>
      
      </div>

</body>
</html>
