
<md-content class="md-padding">
	<md-tabs md-dynamic-height md-border-bottom>
	   	<md-tab label="Notes">
		    <md-content class="md-padding">
		    	<ul>
		    		<li>
		    			An animation is when the transformation of an HTML element gives you an illusion of motion.
		    		</li>
		    	</ul>
		    	<div class="md-subhead">List of Directives Support Animation</div>
		    	<md-data-table-container>
			          <table md-data-table md-row-select="selected" md-progress="deferred" >
			            <thead >
			              <tr>
			                <th name="Directive"></th>
			                <th name="Supported Animations"></th>
			              </tr>
			            </thead>
			           	<tbody>
			           		<tr>	
			           			<td>ngRepeat</td>
			           			<td>enter, leave and move</td>
			           		</tr>
			           		<tr>
			           			<td>ngView</td>
			           			<td>enter and leave</td>
			           		</tr>
			           		<tr>
			           			<td>ngInclude</td>
			           			<td>enter and leave</td>
			           		</tr>
			           		<tr>
			           			<td>ngSwitch</td>
			           			<td>enter and leave</td>
			           		</tr>	
			           		<tr>
			           			<td>ngIf</td>
			           			<td>enter and leave</td>
			           		</tr>
			           		<tr>
			           			<td>ngClass</td>
			           			<td>add and remove (the CSS class(es) present)</td>
			           		</tr>	
			           		<tr>
			           			<td>ngShow & ngHide</td>
			           			<td>add and remove (the ng-hide class value)</td>
			           		</tr>	
			           		<tr>
			           			<td>form & ngModel</td>
			           			<td>add and remove (dirty, pristine, valid, invalid & all other validations)</td>
			           		</tr>	
			           		<tr>
			           			<td>ngMessages</td>
			           			<td>add and remove (ng-active & ng-inactive)</td>
			           		</tr>
			           	</tbody>
			          </table>
			    </md-data-table-container>
		    </md-content>
	  	</md-tab>
	  	<md-tab label="Examples">
		    <md-content class="md-padding">
		    	<md-card>
		    		<md-card-content>
							&lt;html&gt;<br />
							  &lt;head&gt;<br />
							      &lt;title&gt;Animations Demo1&lt;/title&gt;<br />
							   &lt;/head&gt;<br />
							   <br />
							   &lt;body&gt;<br />
							      &lt;div&gt;<br /><br />
							      &lt;/div&gt;<br />
							      <br />
							      &lt;script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"&gt;&lt;/script&gt;<br />
							      <br />
							   &lt;/body&gt;<br />
							&lt;/html&gt;
		    		</md-card-content>
		    	</md-card>
		    </md-content>
	    </md-tab>
	</md-tabs>
</md-content>