<md-content class="md-padding">
	<h4>Depenedency Injection</h4>
	<md-divider ></md-divider>
    <p>
      Dependency Injection (DI) is a software design pattern that deals with how components get hold of their dependencies.
    </p>
    <p>
      AngularJS comes with a built-in dependency injection mechanism. You can divide your application into multiple different types of components which AngularJS can inject into each other. Modularizing your application makes it easier to reuse, configure and test the components in your application.
    </p>
    <p>AngularJS contains the following core types of objects and components:</p>
    <ul>
    	<li>Value</li>
    	<li>Factory</li>
    	<li>Services</li>
    	<li>Provide</li>
    	<li>Constant</li>
    </ul>
</md-content>