<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Prerequisites">
        <md-content class="md-padding">
          	1. Moderate knowledge of HTML, CSS, and JavaScript
          	<br/><br/>
          	2. Basic Model-View-Controller (MVC) concepts
          	<br/><br/>
          	3. The Document Object Model (DOM)
          	<br/><br/>
          	4. JavaScript functions, events, and error handling
        </md-content>
      </md-tab>
      <md-tab label="Overview">
        <md-content class="md-padding">
          <p>AngularJS is an open source web application framework. It was originally developed in 2009 by Misko Hevery and Adam Abrons. It is now maintained by Google.</p>
          <p>
          	1. Library : A collection of functions which are useful when writing web apps. Your code is in charge and it calls into the library when it sees fit. E.g., jQuery.
          	<br/><br/>
          	2. Framework:A particular implementation of a web application, where your code fills in the details. The framework is in charge and it calls into your code when it needs something app specific. E.g., durandal, ember, etc.
          </p>
        </md-content>
      	<md-card align="center" class="md-primary" style="background-color:#071733;padding:0px">
	      	<md-card-content style="padding:0px">
	      		<img src="img/framework-vs-library.png" class="md-card-image" alt="framework">
	        </md-card-content>
        </md-card>
      </md-tab>
      <md-tab label="Fetaures">
        <md-content class="md-padding">
        	<md-list>
				<md-list-item>
			        Data-binding − It is the automatic synchronization of data between model and view components.
			     </md-list-item>
				<md-list-item>
			        Scope − These are objects that refer to the model. They act as a glue between controller and view.
			     </md-list-item>
				<md-list-item>
			        Controller − These are JavaScript functions that are bound to a particular scope.
			     </md-list-item>
				<md-list-item>
			        Services − AngularJS come with several built-in services for example $http to make a XMLHttpRequests. These are singleton objects which are instantiated only once in app.
			     </md-list-item>
				<md-list-item>
			        Filters − These select a subset of items from an array and returns a new array.
			     </md-list-item>
				<md-list-item>
			        Directives − Directives are markers on DOM elements (such as elements, attributes, css, and more). These can be used to create custom HTML tags that serve as new, custom widgets. AngularJS has built-in directives (ngBind, ngModel...)
			     </md-list-item>
				<md-list-item>
			        Templates − These are the rendered view with information from the controller and model. These can be a single file (like index.html) or multiple views in one page using "partials".
			     </md-list-item>
				<md-list-item>
			        Routing − It is concept of switching views.
			     </md-list-item>
				<md-list-item>
			        Model View Whatever − MVC is a design pattern for dividing an application into different parts (called Model, View and Controller), each with distinct responsibilities. AngularJS does not implement MVC in the traditional sense, but rather something closer to MVVM (Model-View-ViewModel). The Angular JS team refers it humorously as Model View Whatever.
			    </md-list-item>
				<md-list-item>
			        Deep Linking − Deep linking allows you to encode the state of application in the URL so that it can be bookmarked. The application can then be restored from the URL to the same state.
			     </md-list-item>
				<md-list-item>
			        Dependency Injection − AngularJS has a built-in dependency injection subsystem that helps the developer by making the application easier to develop, understand, and test.
			     </md-list-item>
			<md-list>
        </md-content>
      </md-tab>
    </md-tabs>
</md-content>
